body{
	background-color: #efefef;
}
.flat .ui,
.flat .ui *{
	border-radius: 0px !important;
}

.flat .item.menu .item,
.flat .segment,
.flat .card{
	-webkit-box-shadow: 0 4px 8px -8px #444;
	box-shadow: 0 4px 8px -8px #444;
	border-radius: 0px;
	transition: 0.5s box-shadow ease-in-out;
}

.flat .item.menu .item:hover,
.flat .segment:hover,
.flat .card:hover{
	-webkit-box-shadow: 0 10px 8px -8px #AAA;
	box-shadow: 0 10px 8px -8px #AAA;
	border-radius: 0px;
}